b/
build/
CMakeCache.txt
CMakeFiles/

\.vscode/

\.DS_Store

bin/tm/Debug/

src/Engine/3Part/Box2D/Contributions/Platforms/TestBed\.Net/obj/

bin/

src/Tools/example/06_MonoRuntime/dll/DllTest/\.idea/

src/Tools/example/06_MonoRuntime/dll/DllTest/TestDll/obj/
