b/
build/
CMakeCache.txt
CMakeFiles/

\.vscode/

\.DS_Store

bin/tm/Debug/

src/Engine/3Part/Box2D/Contributions/Platforms/TestBed\.Net/obj/

bin/

src/Tools/example/06_MonoRuntime/dll/DllTest/\.idea/

src/Tools/example/06_MonoRuntime/dll/DllTest/TestDll/obj/

include/mono/

include/ThirdParty/

src/Tools/example/06_MonoRuntime/dll/DllTest/\.vs/

include/assimp/

include/Box2D/

include/Stb_Image/

include/ImGui/

include/glm/

include/GLFW/

include/glad/

include/KHR/
